@font-face {
    font-family: "bb";
    src: url("fonts/burbank.otf");
}

.hud {
    float: bottom;
    width: 600px;
    height: 100px;
    background: #FFF;
    border: solid 5px #aaaaaa;
    padding: 1%;
}

.hud2 {
    width: 33%;
    float: left;
}

.stormsh {
    width: 31%;
    float: left;
}

.hud_text {
    float: none;
    font-family: "bb";
    font-size: 20px;
    text-align: center;

}

.counter-font {
    font-size: 50px;
    font-family: "bb";
}

.center {
    text-align: left;
    padding-left: 10%;
}

.game {
    float: left;
    width: 600px;
    height: 500px;
    border: solid 5px white;
    padding: 1%;
    background: url(img/cenario.png);
    background-position: bottom;
}

/*{
    font-family: bb;
}*/
